git+https://github.com/facebookresearch/segment-anything.git
accelerate
torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118
diffusers
transformers 
accelerate 
peft
ultralytics
supervision==0.8.0
compel
scipy
opencv-python
numpy 
git+https://github.com/chaofengc/IQA-PyTorch.git  # for IQA
